[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=hyoon
Group=hyoon
WorkingDirectory=/home/hyoon/app/src/
Environment="PATH=/home/hyoon/app/venv/bin"
EnvironmentFile=/home/hyoon/.env
ExecStart=/home/hyoon/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

